<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Montessori">
        <activity
            android:name=".Lunch"
            android:exported="false" />
        <activity
            android:name=".PhoneCall"
            android:exported="true" />
        <activity
            android:name=".SecondActivity2"
            android:exported="true" />
        <activity
            android:name=".ClickeditemActivity2"
            android:exported="true" />
        <activity
            android:name=".Gallery_image"
            android:exported="true" />
        <activity
            android:name=".lunchmenu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Profile"
            android:exported="true" />
        <activity
            android:name=".Calendar"
            android:exported="true" />
        <activity
            android:name=".HomePage"
            android:exported="true" />
        <activity
            android:name=".VerifyOTP"
            android:exported="true" />
        <activity
            android:name=".SuccessMessage"
            android:exported="false" />
        <activity
            android:name=".set_new_password"
            android:exported="true" />
        <activity
            android:name=".MakeSelection"
            android:exported="true" />
        <activity
            android:name=".password"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>